In [1]:
import pandas as pd

# Crear tabla

In [7]:
ClienteID = pd.Series(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10'])
Nombre = pd.Series(['Orlando', 'Keith', 'Donna', 'Janet', 'Fabio', 'Juan', 'Lucia', 'Pedro', 'Sergio', 'Grecia'])
Pais = pd.Series(['Australia', 'India', 'Germany', 'United States', 'España', 'España', 'España', 'Italia', 'United States', 'Peru'])
Ciudad = pd.Series(['','','Berlin','California','Madrid', 'Sevilla', '', 'Roma', 'New York', 'Lima'])
Email = pd.Series(['','keith0@adventure-works.com','donna0@adventure-works.com','janet1@adventure-works.com','fabio10@gmail.com', '', 'LuciaPerez@hotmail.com', 'Pedro99@gmail.com', 'sergio_as@gmail.com', 'Grecia89@gmail.com'])
Telefono = pd.Series(['917755028', '', '915547890', '', '', '915869028', '', '910007890', '', ''])

In [11]:
Clientes = pd.DataFrame({'ClienteID': ClienteID ,  'Nombre': Nombre, 'Pais':Pais , 
                         'Ciudad':Ciudad, 'Email':Email, 'Telefono':Telefono})

In [12]:
Clientes

,ClienteID,Nombre,Pais,Ciudad,Email,Telefono
0,C1,Orlando,Australia,,,917755028
1,C2,Keith,India,,keith0@adventure-works.com,
2,C3,Donna,Germany,Berlin,donna0@adventure-works.com,915547890
3,C4,Janet,United States,California,janet1@adventure-works.com,
4,C5,Fabio,España,Madrid,fabio10@gmail.com,
5,C6,Juan,España,Sevilla,,915869028
6,C7,Lucia,España,,LuciaPerez@hotmail.com,
7,C8,Pedro,Italia,Roma,Pedro99@gmail.com,910007890
8,C9,Sergio,United States,New York,sergio_as@gmail.com,
9,C10,Grecia,Peru,Lima,Grecia89@gmail.com,

In [8]:
VentasId = pd.Series(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15'])
Producto = pd.Series(['Alfombra', 'Killim', 'Killim', 'Alfombra', 'Killim', 'Killim', 'Alfombra', 'Killim', 'Killim', 'Alfombra', 'Killim', 'Killim'])
Precio = pd.Series([1500, 699.50, 475, 5000, 499.50, 55, 2500, 299.5, 600, 1200, 500, 650, 3500, 1000, 350])
Cliente = pd.Series(['C1','C3','C9','C4','C8', 'C5', 'C2', 'C10', 'C2', 'C7', 'C8', 'C9', 'C7', 'C6', 'C10'])
Proveedor = pd.Series(['P1', 'P1', 'P3', 'P1', 'P1', 'P3', 'P1', 'P1', 'P3', 'P1', 'P1', 'P3', 'P1', 'P1', 'P3'])

In [9]:
Ventas = pd.DataFrame({'VentasId': VentasId, 'Producto': Producto, 'Precio':Precio , 
                         'Cliente':Cliente, 'Proveedor':Proveedor})

In [10]:
Ventas

   VentasId  Producto  Precio Cliente Proveedor
0        V1  Alfombra  1500.0      C1        P1
1        V2    Killim   699.5      C3        P1
2        V3    Killim   475.0      C9        P3
3        V4  Alfombra  5000.0      C4        P1
4        V5    Killim   499.5      C8        P1
5        V6    Killim    55.0      C5        P3
6        V7  Alfombra  2500.0      C2        P1
7        V8    Killim   299.5     C10        P1
8        V9    Killim   600.0      C2        P3
9       V10  Alfombra  1200.0      C7        P1
10      V11    Killim   500.0      C8        P1
11      V12    Killim   650.0      C9        P3
12      V13       NaN  3500.0      C7        P1
13      V14       NaN  1000.0      C6        P1
14      V15       NaN   350.0     C10        P3

In [13]:
ProveedorID = pd.Series(['P1', 'P2', 'P3'])
Nombre = pd.Series(['Intertrade', 'SaidKarpet', 'OrientKillim' ])
Email = pd.Series(['Intertrade@gmail.com', 'SaidKarpet@gmail.com', 'OrientKillim@gmail.com'])
Telefono = pd.Series(['912223344', '912783794', '9100155475'])

In [14]:
Proveedores = pd.DataFrame({'ProveedorID': ProveedorID, 'Nombre': Nombre, 'Email':Email, 'Telefono':Telefono})

In [15]:
Proveedores

  ProveedorID        Nombre                   Email    Telefono
0          P1    Intertrade    Intertrade@gmail.com   912223344
1          P2    SaidKarpet    SaidKarpet@gmail.com   912783794
2          P3  OrientKillim  OrientKillim@gmail.com  9100155475

# Importar un CSV como una tabla

In [20]:
House_Price_Data = pd.read_csv('House_Price_Regression.csv')

In [21]:
House_Price_Data

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

# Exportar un CSV

In [ ]:
# df.to_csv('filename.csv', index=False)

# Numero de filas y columnas

In [54]:
House_Price_Data.shape

(1905, 29)

In [55]:
House_Price_Data.shape[0]

1905

In [56]:
House_Price_Data.shape[1]

29

In [58]:
len(House_Price_Data)

1905

# Head y Tail

In [64]:
House_Price_Data.head()

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821

In [65]:
House_Price_Data.head(10)

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
5,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
6,46.0,25.114275,55.139764,8503600,2,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,191.565986
7,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
8,46.0,25.106668,55.149275,2100000,3,3,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203.085958
9,15.0,25.194935,55.282665,2690000,2,3,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,141.305463

In [66]:
House_Price_Data.tail()

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [67]:
House_Price_Data.tail(10)

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
1895,22.0,25.081243,55.145120,1350000,2,4,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.600934
1896,15.0,25.196489,55.272126,18040888,4,4,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,488.019459
1897,4.0,25.153080,55.254242,360000,0,1,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,55.741800
1898,46.0,25.104330,55.148769,2700000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,99.963628
1899,27.0,25.037477,55.221942,550000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,78.688841
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

# Nombres de las columnas

In [59]:
House_Price_Data.columns

Index(['neighborhood_recode', 'latitude', 'longitude', 'price',
       'no_of_bedrooms', 'no_of_bathrooms', 'quality_recode',
       'maid_room_recode', 'unfurnished_recode', 'balcony_recode',
       'barbecue_area_recode', 'central_ac_recode',
       'childrens_play_area_recode', 'childrens_pool_recode',
       'concierge_recode', 'covered_parking_recode',
       'kitchen_appliances_recode', 'maid_service_recode',
       'pets_allowed_recode', 'private_garden_recode', 'private_gym_recode',
       'private_jacuzzi_recode', 'private_pool_recode', 'security_recode',
       'shared_gym_recode', 'shared_pool_recode', 'shared_spa_recode',
       'view_of_water_recode', 'size_in_m_2'],
      dtype='object')

# Seleccionar columnas de una tabla

## Método loc

In [23]:
House_Price_Data.loc[ : , ['latitude', 'price', 'no_of_bathrooms', 'quality_recode', 'balcony_recode']]

       latitude    price  no_of_bathrooms  quality_recode  balcony_recode
0     25.113208  2700000                2             2.0             1.0
1     25.106809  2850000                2             2.0             1.0
2     25.063302  1150000                5             2.0             1.0
3     25.227295  2850000                3             1.0             1.0
4     25.114275  1729200                1             2.0             0.0
...         ...      ...              ...             ...             ...
1900  25.176892  1500000                2             3.0             1.0
1901  25.166145  1230000                2             2.0             1.0
1902  25.206500  2900000                5             2.0             1.0
1903  25.073858   675000                2             2.0             1.0
1904  25.079130   760887                2             0.0             1.0

[1905 rows x 5 columns]

## Método iloc

In [26]:
House_Price_Data.iloc[ : , 0:6]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms
0,46.0,25.113208,55.138932,2700000,1,2
1,46.0,25.106809,55.151201,2850000,2,2
2,36.0,25.063302,55.137728,1150000,3,5
3,11.0,25.227295,55.341761,2850000,2,3
4,46.0,25.114275,55.139764,1729200,0,1
...,...,...,...,...,...,...
1900,42.0,25.176892,55.310712,1500000,2,2
1901,42.0,25.166145,55.276684,1230000,1,2
1902,16.0,25.206500,55.345056,2900000,3,5
1903,37.0,25.073858,55.229844,675000,1,2
1904,36.0,25.079130,55.154713,760887,1,2

In [27]:
House_Price_Data.iloc[ : , [0,1,3]]

      neighborhood_recode   latitude    price
0                    46.0  25.113208  2700000
1                    46.0  25.106809  2850000
2                    36.0  25.063302  1150000
3                    11.0  25.227295  2850000
4                    46.0  25.114275  1729200
...                   ...        ...      ...
1900                 42.0  25.176892  1500000
1901                 42.0  25.166145  1230000
1902                 16.0  25.206500  2900000
1903                 37.0  25.073858   675000
1904                 36.0  25.079130   760887

[1905 rows x 3 columns]

# Filtrar filas de una tabla

In [28]:
House_Price_Data.loc[ House_Price_Data.price < 500000 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
49,12.0,25.016736,55.251010,365000,0,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,41.899253
55,36.0,25.065736,55.137452,375000,0,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,41.806350
146,27.0,25.044572,55.218948,390000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,78.874647
160,27.0,25.042264,55.217360,410000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,90.023007
194,38.0,25.043352,55.193510,310000,0,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.483775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848,24.0,25.091311,55.378277,270000,0,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,42.735380
1849,36.0,25.071246,55.140806,499000,1,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,62.430816
1857,36.0,25.078148,55.148277,400888,0,1,2.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,37.439909
1874,50.0,25.003730,55.297034,488888,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,64.846294
1897,4.0,25.153080,55.254242,360000,0,1,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,55.741800

In [30]:
House_Price_Data.loc[ House_Price_Data.price <= 1000000 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
19,9.0,25.180301,55.263892,950000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,83.055282
34,6.0,25.060310,55.241403,750000,1,1,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,73.950788
35,6.0,25.060310,55.241403,991000,2,2,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,107.953286
49,12.0,25.016736,55.251010,365000,0,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,41.899253
55,36.0,25.065736,55.137452,375000,0,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,41.806350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1894,15.0,25.191107,55.269910,980888,1,1,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,101.078464
1897,4.0,25.153080,55.254242,360000,0,1,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,55.741800
1899,27.0,25.037477,55.221942,550000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,78.688841
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [31]:
House_Price_Data.loc[ House_Price_Data.price > 1000000 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,15.0,25.196489,55.272126,18040888,4,4,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,488.019459
1898,46.0,25.104330,55.148769,2700000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,99.963628
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790

In [34]:
House_Price_Data.loc[ House_Price_Data.no_of_bedrooms == 2 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
6,46.0,25.114275,55.139764,8503600,2,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,191.565986
9,15.0,25.194935,55.282665,2690000,2,3,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,141.305463
11,22.0,25.075017,55.137997,2094999,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,98.291374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881,49.0,25.088903,55.171065,1850000,2,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,130.064200
1882,22.0,25.080542,55.140343,2090000,2,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,98.570083
1884,34.0,25.072569,55.126527,3300000,2,3,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,109.625540
1895,22.0,25.081243,55.145120,1350000,2,4,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.600934
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561

In [35]:
House_Price_Data.loc[ House_Price_Data.no_of_bedrooms != 2 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
5,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
7,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,27.0,25.037477,55.221942,550000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,78.688841
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [44]:
House_Price_Data.loc[ House_Price_Data['no_of_bedrooms'] != 2 , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
5,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
7,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,27.0,25.037477,55.221942,550000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,78.688841
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [45]:
House_Price_Data.loc[ House_Price_Data['no_of_bedrooms'].isin([2,4]) , : ]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
6,46.0,25.114275,55.139764,8503600,2,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,191.565986
9,15.0,25.194935,55.282665,2690000,2,3,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,141.305463
11,22.0,25.075017,55.137997,2094999,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,98.291374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,46.0,25.103972,55.149621,31440000,4,6,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,607.771426
1891,11.0,25.226946,55.343628,7000000,4,6,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,377.929404
1895,22.0,25.081243,55.145120,1350000,2,4,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.600934
1896,15.0,25.196489,55.272126,18040888,4,4,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,488.019459
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561

In [53]:
House_Price_Data.loc[ House_Price_Data.price > 1000000 , ['price', 'no_of_bedrooms', 'quality_recode'] ]

         price  no_of_bedrooms  quality_recode
0      2700000               1             2.0
1      2850000               2             2.0
2      1150000               3             2.0
3      2850000               2             1.0
4      1729200               0             2.0
...        ...             ...             ...
1896  18040888               4             2.0
1898   2700000               1             2.0
1900   1500000               2             3.0
1901   1230000               1             2.0
1902   2900000               3             2.0

[1314 rows x 3 columns]

In [46]:
House_Price_Data.iloc[0:5 , :]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2850000,2,3,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821

In [47]:
House_Price_Data.iloc[15:120 , :]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
15,46.0,25.132021,55.151405,2349990,1,1,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,103.029427
16,46.0,25.132021,55.151405,3499000,2,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,151.710599
17,15.0,25.198316,55.270758,2700000,2,3,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,125.233244
18,15.0,25.197020,55.271023,1490000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,108.417801
19,9.0,25.180301,55.263892,950000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,83.055282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,15.0,25.196398,55.271002,2100000,2,3,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,125.790662
116,15.0,25.191753,55.272818,1400000,1,2,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.896580
117,45.0,25.189554,55.273783,2300000,2,3,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.304214
118,9.0,25.185823,55.291922,2300000,2,3,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,133.966126
119,49.0,25.090953,55.169542,1335000,2,2,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.118408

In [48]:
House_Price_Data.iloc[[6,10,15] , :]

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
6,46.0,25.114275,55.139764,8503600,2,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,191.565986
10,15.0,25.198796,55.271342,3550000,3,4,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,178.187954
15,46.0,25.132021,55.151405,2349990,1,1,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,103.029427

In [50]:
House_Price_Data.iloc[3:15 , 2:5]

    longitude    price  no_of_bedrooms
3   55.341761  2850000               2
4   55.139764  1729200               0
5   55.139764  3119900               1
6   55.139764  8503600               2
7   55.139764  3119900               1
8   55.149275  2100000               3
9   55.282665  2690000               2
10  55.271342  3550000               3
11  55.137997  2094999               2
12  55.137997  1049999               1
13  55.151574  1849000               1
14  55.152216  2089999               1

# Trasponer una tabla

In [60]:
House_Price_Data.T

,0,1,2,3,4,5,6,7,8,9,...,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904
neighborhood_recode,4.600000e+01,4.600000e+01,3.600000e+01,1.100000e+01,4.600000e+01,4.600000e+01,4.600000e+01,4.600000e+01,4.600000e+01,1.500000e+01,...,2.200000e+01,1.500000e+01,4.000000,4.600000e+01,27.000000,4.200000e+01,4.200000e+01,1.600000e+01,37.000000,36.000000
latitude,2.511321e+01,2.510681e+01,2.506330e+01,2.522730e+01,2.511427e+01,2.511427e+01,2.511427e+01,2.511427e+01,2.510667e+01,2.519494e+01,...,2.508124e+01,2.519649e+01,25.153080,2.510433e+01,25.037477,2.517689e+01,2.516615e+01,2.520650e+01,25.073858,25.079130
longitude,5.513893e+01,5.515120e+01,5.513773e+01,5.534176e+01,5.513976e+01,5.513976e+01,5.513976e+01,5.513976e+01,5.514928e+01,5.528267e+01,...,5.514512e+01,5.527213e+01,55.254242,5.514877e+01,55.221942,5.531071e+01,5.527668e+01,5.534506e+01,55.229844,55.154713
price,2.700000e+06,2.850000e+06,1.150000e+06,2.850000e+06,1.729200e+06,3.119900e+06,8.503600e+06,3.119900e+06,2.100000e+06,2.690000e+06,...,1.350000e+06,1.804089e+07,360000.000000,2.700000e+06,550000.000000,1.500000e+06,1.230000e+06,2.900000e+06,675000.000000,760887.000000
no_of_bedrooms,1.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,3.000000e+00,2.000000e+00,...,2.000000e+00,4.000000e+00,0.000000,1.000000e+00,1.000000,2.000000e+00,1.000000e+00,3.000000e+00,1.000000,1.000000
no_of_bathrooms,2.000000e+00,2.000000e+00,5.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,...,4.000000e+00,4.000000e+00,1.000000,2.000000e+00,2.000000,2.000000e+00,2.000000e+00,5.000000e+00,2.000000,2.000000
quality_recode,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,...,1.000000e+00,2.000000e+00,2.000000,2.000000e+00,2.000000,3.000000e+00,2.000000e+00,2.000000e+00,2.000000,0.000000
maid_room_recode,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000
unfurnished_recode,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000,1.000000e+00,1.000000,1.000000e+00,0.000000e+00,1.000000e+00,1.000000,0.000000
balcony_recode,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000
barbecue_area_recode,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000
central_ac_recode,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,1.000000,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000
childrens_play_area_recode,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000
childrens_pool_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000
concierge_recode,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,1.000000
covered_parking_recode,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000
kitchen_appliances_recode,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.000000
maid_service_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
pets_allowed_recode,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,1.000000,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000
private_garden_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000
private_gym_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
private_jacuzzi_recode,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
private_pool_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
security_recode,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000
shared_gym_recode,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.000000
shared_pool_recode,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000
shared_spa_recode,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000
view_of_water_recode,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.000000
size_in_m_2,1.002423e+02,1.469725e+02,1.812538e+02,1.876641e+02,4.710182e+01,9.429654e+01,1.915660e+02,9.429654e+01,2.030860e+02,1.413055e+02,...,1.466009e+02,4.880195e+02,55.741800,9.996363e+01,78.688841,1.009856e+02,7.060628e+01,1.793028e+02,68.748220,74.322400

# Data_frame to numpy

In [62]:
House_Price_Data.to_numpy()

array([[ 46.      ,  25.113208,  55.138932, ...,   0.      ,   1.      ,
        100.242337],
       [ 46.      ,  25.106809,  55.151201, ...,   0.      ,   1.      ,
        146.972546],
       [ 36.      ,  25.063302,  55.137728, ...,   0.      ,   1.      ,
        181.253753],
       ...,
       [ 16.      ,  25.2065  ,  55.345056, ...,   0.      ,   0.      ,
        179.30279 ],
       [ 37.      ,  25.073858,  55.229844, ...,   0.      ,   1.      ,
         68.74822 ],
       [ 36.      ,  25.07913 ,  55.154713, ...,   1.      ,   1.      ,
         74.3224  ]])

# Eliminar columnas de una tabla

In [63]:
House_Price_Data.drop(['price'], axis=1)

,neighborhood_recode,latitude,longitude,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,barbecue_area_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,1,2,2.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2,2,2.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,3,5,2.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,55.341761,2,3,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,55.139764,0,1,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,42.0,25.176892,55.310712,2,2,3.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1,2,2.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,3,5,2.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,1,2,2.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,1,2,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [68]:
House_Price_Data.drop(['price', 'longitude'], axis=1)

,neighborhood_recode,latitude,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,barbecue_area_recode,central_ac_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,1,2,2.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,2,2,2.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,3,5,2.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
3,11.0,25.227295,2,3,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187.664060
4,46.0,25.114275,0,1,2.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,42.0,25.176892,2,2,3.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,1,2,2.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,3,5,2.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,1,2,2.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,1,2,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

# Eliminar filas de una tabla

In [71]:
House_Price_Data.drop(3, axis=0)

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
2,36.0,25.063302,55.137728,1150000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,181.253753
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
5,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,42.0,25.176892,55.310712,1500000,2,2,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,100.985561
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400

In [73]:
House_Price_Data.drop([2,3,1900], axis=0)

,neighborhood_recode,latitude,longitude,price,no_of_bedrooms,no_of_bathrooms,quality_recode,maid_room_recode,unfurnished_recode,balcony_recode,...,private_garden_recode,private_gym_recode,private_jacuzzi_recode,private_pool_recode,security_recode,shared_gym_recode,shared_pool_recode,shared_spa_recode,view_of_water_recode,size_in_m_2
0,46.0,25.113208,55.138932,2700000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,100.242337
1,46.0,25.106809,55.151201,2850000,2,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,146.972546
4,46.0,25.114275,55.139764,1729200,0,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,47.101821
5,46.0,25.114275,55.139764,3119900,1,2,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,94.296545
6,46.0,25.114275,55.139764,8503600,2,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,191.565986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,27.0,25.037477,55.221942,550000,1,2,2.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,78.688841
1901,42.0,25.166145,55.276684,1230000,1,2,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,70.606280
1902,16.0,25.206500,55.345056,2900000,3,5,2.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,179.302790
1903,37.0,25.073858,55.229844,675000,1,2,2.0,0.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,68.748220
1904,36.0,25.079130,55.154713,760887,1,2,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,74.322400